<div class="topnav row">
  <div class="topnav-container col-md-8">
    <div class="row">
      <div class="col-md-4 mt-2">
        <div class="row align-items-center mx-2">
          <div class="col-2"> <button class="col-md-3"><img src="../assets/Images/R.png" width="25px"
                height="25px"></button></div>
          <div class="col-10 ">
            <span style="font-size:24px">ChalDal</span>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="search-container d-flex">
          <input type="text" placeholder="Search for products (e.g. eggs, milk, potato).." name="search">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <a class=" customLinkLogin px-5">Sign in</a>
    <a class=" customLink">EN|বাং</a>
    <a class=" customLink">Help</a>
    <a class=" customLink">Dhaka</a>
  </div>
</div>
<div class="content">
  <div class="contentSearch row">
    <div class=" align-items-center justify-content-center  d-flex" style="flex-direction:column;
 width: 100%;margin-left: auto;
 margin-right: auto;">
      <h2><b>Groceries delivered in 30 minutes</b></h2>
      <div class="search-container d-flex">
        <input type="text" placeholder="Search for products (e.g. eggs, milk, potato).." name="search">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="row mt-3 px-5">
    <div class="col-md-6 ">
      <img src="../assets/Images/pic1.webp" height="150px" width="100%">
    </div>
    <div class="col-md-6 ">
      <img src="../assets/Images/pic2.webp" height="150px" width="100%">
    </div>
  </div>
  <div class="productsHeader m-5 justify-content-center d-flex">
    <h3>Our Product Categories</h3>
  </div>
  <div class="productCategory m-5 px-5 row ">
    <div class="col-md-3 m-2" *ngFor="let i of products">
      <div class="card m-2">
        <div class="card-body row">
          <div class="col-10" style="text-align:center">
            Category {{i}}
          </div>
          <div class="col-2 px-2">
            <img src="../assets/Images/download.jpg" height="20px" width="20px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="productsHeader m-5 justify-content-center d-flex">
    <h3>How to order from ChalDal ? </h3>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/Images/order.png" height="400px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/Images/payment.jpg" height="400px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/Images/delivery.jpg" height="400px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- <div class="footer">
  <p>Footer</p>
</div> -->
